<style>
    .input-group {
        background-color: #f0f8ff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .fa-search {
        color: green;
    }

    .input-group-append .btn-outline-secondary {
        border-color: green;
    }
</style>

@using (Html.BeginForm("TimKiem", "Home"))
{
<div class="input-group mb-3">
    <input class="form-control" type="search" name="TenViec" placeholder="Tìm kiếm công việc..." aria-label="Search">

    <div class="form-group">
        <label for="Province">Tỉnh/Thành Phố</label>
        <select id="Province" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-success">
        <i class="bi bi-search"></i>
    </button>
</div>
}

