<style>

    .input-group {
        background-color: #f0f8ff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .fa-search {
        color: green;
    }

    .input-group-append .btn-outline-secondary {
        border-color: green;
    }
</style>

@using (Html.BeginForm("TimKiem", "Home"))
{
    <div class="input-group mb-3">
        <input class="form-control" type="search" name="TenViec" placeholder="Tìm kiếm công việc..." aria-label="Search">

        <select class="form-select" name="KinhNghiem" id="KinhNghiem">
            <option value="">Chọn kinh nghiệm</option>
            <option value="0">Chưa có kinh nghiệm</option>
            <option value="1">1 năm</option>
            <option value="2">2 năm</option>
        </select>

        <select class="form-select" name="Luong" id="Luong">
            <option value="">Chọn mức lương</option>
            <option value="1">Dưới 5 triệu</option>
            <option value="2">5 - 10 triệu</option>
            <option value="3">Trên 10 triệu</option>
        </select>

        <button type="submit" class="btn btn-success">
            <i class="bi bi-search"></i>
        </button>
    </div>
}


