<style>
    .input-group {
        background-color: #f0f8ff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .fa-search {
        color: green;
    }

    .input-group-append .btn-outline-secondary {
        border-color: green;
    }
</style>

@using (Html.BeginForm("TimKiem", "Home"))
{
    <div class="input-group mb-3">
        <input class="form-control" type="search" name="TenViec" placeholder="Tìm kiếm công việc..." aria-label="Search">

        <select class="form-select" id="city" name="Tinh" required>
            <option value="" disabled selected>Chọn Tỉnh/thành phố...</option>
        </select>

        <button type="submit" class="btn btn-success">
            <i class="bi bi-search"></i>
        </button>
    </div>
}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    $(document).ready(function () {
        const host = "https://provinces.open-api.vn/api/";
        var callAPI = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data, "city");
                });
        }
        callAPI('https://provinces.open-api.vn/api/?depth=1');
        var callApiDistrict = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data.districts, "district");
                });
        }
        var callApiWard = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data.wards, "ward");
                });
        }
        var renderData = (array, select) => {
            let row = `<option disable value="">Chọn</option>`;
            array.forEach(element => {
                row += `<option data-id="${element.code}" value="${element.name}">${element.name}</option>`
            });
            document.querySelector("#" + select).innerHTML = row
        }
        $("#city").change(() => {
            callApiDistrict(host + "p/" + $("#city").find(':selected').data('id') + "?depth=2");
        });
        $("#district").change(() => {
            callApiWard(host + "d/" + $("#district").find(':selected').data('id') + "?depth=2");
        });

    });
</script>
